@model Entity1.Models.SACH

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>SACH</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Masach)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Tensach, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tensach)
                    @Html.ValidationMessageFor(model => model.Tensach)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Donvitinh, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Donvitinh)
                    @Html.ValidationMessageFor(model => model.Donvitinh)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Dongia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dongia)
                    @Html.ValidationMessageFor(model => model.Dongia)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Mota, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mota)
                    @Html.ValidationMessageFor(model => model.Mota)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Hinhminhhoa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hinhminhhoa)
                    @Html.ValidationMessageFor(model => model.Hinhminhhoa)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MaCD, "MaCD", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaCD", String.Empty)
                    @Html.ValidationMessageFor(model => model.MaCD)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MaNXB, "MaNXB", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaNXB", String.Empty)
                    @Html.ValidationMessageFor(model => model.MaNXB)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Ngaycapnhat, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ngaycapnhat)
                    @Html.ValidationMessageFor(model => model.Ngaycapnhat)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Soluongban, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Soluongban)
                    @Html.ValidationMessageFor(model => model.Soluongban)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.solanxem, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.solanxem)
                    @Html.ValidationMessageFor(model => model.solanxem)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
